<%# 
The following partial relies on two local variables:

maestro_incompatible (BOOLEAN): 'false' by default. If set to 'true', 
Maestro is incompatible with the current service tile version. 
v2.9 and v2.10 procedures use the original procedure. 

compatible_om_versions (ARRAY OF STRINGS): Sets which Ops Manager versions are compatible 
with the current service tile. If defined, filters 
list of recommended links based on compatible versions. For example, ["2.7", "2.8"] 
shows only procedures for v2.7 and v2.8.

For information about procedure compatibility, see the following Google document titled 
"Services TLS CA Rotation Links":
https://docs.google.com/document/d/1JEk2kJ0l7Wv3zpeZgRsiU1iYjDYWlgy-VO7AcjPXjgY/edit# %>


To rotate the Services TLS CA and its leaf certificates, 
use one of the following procedures:


<ul>
<% if defined?(maestro_incompatible) %>

  <% if defined?(compatible_om_versions) and compatible_om_versions.include?("2.10")  %>
    <li>
      <strong>Ops Manager v2.10:</strong> See 
      <a href="https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
    </li>
  <% end %>

  <% if defined?(compatible_om_versions) and compatible_om_versions.include?("2.9")  %>
    <li><strong>Ops Manager v2.9:</strong> See 
      <a href="https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
    </li>
  <% end %>

<% else %>

  <% if defined?(compatible_om_versions) and compatible_om_versions.include?("2.10")  %>
    <li><strong>Ops Manager v2.10:</strong> See 
      <a href="https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/advanced-certificate-rotation.html#services-rotation">Rotate the Services TLS CA and Its Leaf Certificates</a>.
    </li>
  <% end %>

  <% if defined?(compatible_om_versions) and compatible_om_versions.include?("2.9")  %>
    <li><strong>Ops Manager v2.9:</strong> See 
      <a href="https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html#services-rotation">Rotate the Services TLS CA and Its Leaf Certificates</a>.
    </li>
  <% end %>

<% end %>

<% if defined?(compatible_om_versions) and compatible_om_versions.include?("2.8")  %>
  <li><strong>Ops Manager v2.8:</strong> See 
    <a href="https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
<% end %>

<% if defined?(compatible_om_versions) and compatible_om_versions.include?("2.7")  %>
  <li><strong>Ops Manager v2.7:</strong> See 
    <a href="https://docs.pivotal.io/platform/2-7/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>

<% else %>

<ul>
<%# Uncomment when 2.10 releases %>
<%#     <li><strong>Ops Manager v2.10:</strong> See 
      <a href="https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li> %>
  <li><strong>Ops Manager v2.9:</strong> See 
      <a href="https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
  <li><strong>Ops Manager v2.8:</strong> See 
    <a href="https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
  <li><strong>Ops Manager v2.7:</strong> See 
    <a href="https://docs.pivotal.io/platform/2-7/security/pcf-infrastructure/services_tls_ca_rotate.html">Rotating the Services TLS CA and Its Leaf Certificates</a>.
  </li>
</ul>

<% end %>

</ul>

Ops Manager v2.9 and later is compatible with Maestro.
<% if vars.product_full.include?("RabbitMQ") %> 
<%= vars.product_short %> v1.19 and later is compatible with Maestro.
<% end %>
<% if vars.product_full.include?("MySQL") %>
<%= vars.product_short %> v2.8 and later is compatible with Maestro.
<% end %>
<% if vars.product_full.include?("Redis") %>
<%= vars.product_short %> v2.4 and later is compatible with Maestro.
<% end %>
<% if vars.product_full.include?("Gemfire") or vars.product_full.include?("CloudCache") %>
<%= vars.product_short %> v1.11 and later is compatible with Maestro.
<% end %>
