<div class="quick-links">
  <ul>
    <li><a href="#proxy">MySQL Proxy</a></li>
    <li><a href="#prereq">Prerequisite</a></li>
    <li><a href="#dashboard">Monitor Node Health Using the Dashboard</a></li>
    <li><a href="#proxy-api">Monitor Node Health Using the API</a></li>
  </ul>
</div>
