Some PCF services offer *on-demand* service plans.
These plans let developers provision service instances when they want.

These contrast with the more common *pre-provisioned* service plans,
which require operators to provision the service instances during installation
and configuration through the service tile UI.

The following PCF services offer on-demand service plans:

* MySQL for PCF v2.0 and later

* RabbitMQ for PCF

* Redis for PCF

* Pivotal Cloud Cache (PCC)

These services package and deliver their on-demand service offerings differently.
For example, some services, like Redis for PCF, have one tile,
and you configure the tile differently depending on whether you want on-demand
service plans or pre-provisioned service plans.

For other services, like PCC, you install one tile for on-demand service plans
and a different tile for pre-provisioned service plans.

The following table lists and contrasts the different ways that PCF services
package on-demand and pre-provisioned service offerings.

<table class="nice">
  <tr>
    <th>PCF service tile</th>
    <th>Standalone product related to the service</th>
    <th>Versions supporting on demand</th>
    <th>Versions supporting pre-provisioned</th>
  </tr>
  <tr>
    <td>RabbitMQ for PCF</td>
    <td>Pivotal RabbitMQ</td>
    <td>v1.8 and later</td>
    <td>All versions</td>
  </tr>
  <tr>
    <td>Redis for PCF</td>
    <td>Redis</td>
    <td>v1.8 and later</td>
    <td>All versions</td>
  </tr>
  <tr>
    <td>MySQL for PCF</td>
    <td>MySQL </td>
    <td>v2.x<br>
        (based on Percona Server)</td>
    <td>v1.x<br>
        (based on MariaDB and Galera)</td>
  </tr>
  <tr>
    <td>PCC</td>
    <td>Pivotal GemFire</td>
    <td>All versions</td>
    <td><em>NA</em></td>
  </tr>
  <tr>
    <td>GemFire for PCF</td>
    <td>Pivotal GemFire</td>
    <td><em>NA</em></td>
    <td>All versions</td>
  </tr>
</table>
