<div class="quick-links">
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#add"> Add a New CA Certificate</a>
      <ul>
        <li><a href="#crehub-creds">Find the CredHub Credentials in Ops Manager</a></li>
        <li><a href="#regenerate-cert">Regenerate and Add the New CA Certificate</a></li>
      </ul>
      </li>
    <li><a href="#regenerate">Regenerate Internal Certificates</a></li>
    <li><a href="#rebind">Rebind Your App</a></li>
    <li><a href="#remove">Remove Old the CA Certificate</a></li>
  </ul>
</div>
