<div class="quick-links">
  <ul>
    <li><a href="#rotate">Rotate a CA Certificate</a></li>
    <ul>
      <li><a href="#add-generate">Generate and Add a CA Certificate<</a>/li>
      <li><a href="#regenerate">Regenerate Certificates</a></li>
      <li><a href="#remove">Remove Old the CA Certificate</a></li>
    </ul>
  </ul>
</div>
