1. Depending on your IaaS and the number of service instances, the [`upgrade-all-service-instances`](#upgrade-all) task takes 15-20 minutes per instance if you changed IaaS resources and 5-10 minutes per instance if you reconfigured BOSH releases.
1. To calculate how long the errand should take, multiply the number of instances by 20 minutes. 
1. If the errand goes on for much longer than this, you may want to:
   1. `ssh` onto the errand VM
   1. `cd /var/vcap/sys/log` and look for the errand output log
   1. `tail -f LOG` and see if the errand is still attempting to upgrade instances. If it is, then allow the errand to continue. 
   1. If the errand appears to be stuck, cancel the errand task:

   		1. Identify the errand task by running one of these commands, depending on your Ops Manager version. 
        <ul>        
          <li>1.10 and earlier: <code>bosh tasks</code></li>
          <li>1.11: <code>bosh2 tasks</code></li>
          <li>1.12 and later: <code>bosh tasks</code></li>
        </ul>
  
    	1. Cancel the errand task by running one of these commands, depending on your Ops Manager version.<br><br>
        <ul>
    		  <li>1.10 and earlier: `bosh cancel task TASK-ID`</li>
    		  <li>1.11: `bosh2 cancel-task TASK-ID`</li>
          <li>1.12 and later: `bosh cancel-task TASK-ID`</li>
        </ul>

1. Retry [running the errand](#upgrade-all).
