A service instance is defined as ‘orphaned’ when the BOSH deployment for the instance is still running, but the service is no longer registered in Cloud Foundry.

The `orphan-deployments` errand collates a list of service deployments that have no matching service instances in Cloud Foundry and return the list to the operator. It is then up to the operator to remove the orphaned BOSH deployments.


To run the errand, do the following:

1. **For BOSH CLI v1 only:** Select the broker deployment by running the command:<br>

	`bosh deployment BROKER_MANIFEST.yml`

1. Run the errand using one of the following commands depending on your Ops Manager version:

	| Ops Manager Version | BOSH Command |
	|-----|---------|
	| 1.10 and earlier | `bosh run errand orphan-deployments`|
	| 1.11 | `bosh2 -d DEPLOYMENT-NAME run-errand orphan-deployments` |
  | 1.12 and later | `bosh -d DEPLOYMENT-NAME run-errand orphan-deployments` |

If orphan deployments exist, the errand script will:

* Exit with exit code 10
* Output a list of deployment names under a `[stdout]` header
* Provide a detailed error message under a `[stderr]` header

For example:
<pre class="terminal">
[stdout]
[{"deployment\_name":"service-instance\_80e3c5a7-80be-49f0-8512-44840f3c4d1b"}]

[stderr]
Orphan BOSH deployments detected with no corresponding service instance in Cloud Foundry. Before deleting any deployment it is recommended to verify the service instance no longer exists in Cloud Foundry and any data is safe to delete.

Errand 'orphan-deployments' completed with error (exit code 10)
</pre>

These details will also be available through the BOSH `/tasks/` API endpoint for use in scripting:
<pre class="terminal">
$ curl 'https<span>:</span>//bosh-user:bosh-password@bosh-url:25555/tasks/task-id/output?type=result' | jq .
{
  "exit_code": 10,
  "stdout": "[{"deployment_name":"service-instance_80e3c5a7-80be-49f0-8512-44840f3c4d1b"}]\n",
  "stderr": "Orphan BOSH deployments detected with no corresponding service instance in Cloud Foundry. Before deleting any deployment it is recommended to verify the service instance no longer exists in Cloud Foundry and any data is safe to delete.\n",
  "logs": {
    "blobstore_id": "d830c4bf-8086-4bc2-8c1d-54d3a3c6d88d"
  }
}
</pre>


If no orphan deployments exist, the errand script will:

* Exit with exit code 0
* Stdout will be an empty list of deployments
* Stderr will be `None`

<pre class="terminal">
[stdout]
[]

[stderr]
None

Errand 'orphan-deployments' completed successfully (exit code 0)
</pre>

If the errand encounters an error during running it will:

* Exit with exit 1
* Stdout will be empty
* Any error messages will be under stderr



To clean up orphaned instances, run the following command on each instance:

<p class="note warning">
<strong>WARNING: </strong> Running this command may leave IaaS resources in an unusable state.
</p>

| Ops Manager Version | BOSH Command |
|-----|---------|
| 1.10 and earlier | `bosh delete deployment service-instance_SERVICE-INSTANCE-GUID`|
| 1.11 | `bosh2 delete-deployment service-instance_SERVICE-INSTANCE-GUID` |
| 1.12 and later | `bosh delete-deployment service-instance_SERVICE-INSTANCE-GUID` |



