<p class="note warning"><strong>Warning:</strong> Terraform is no longer supported and not
recommended for use. Download Terraform templates from <a href="https://network.pivotal.io/products/elastic-runtime/">VMware Tanzu Application Service for VMs</a> v2.7.17 or earlier on VMware Tanzu Network.</p>
