
<p class="note warning"><strong>Warning:</strong> Terraform is no longer supported and not recommended for use. If you choose to risk proceeding, you can find the unmaintained Terraform templates at <a href="https://github.com/pivotal/paving">paving</a> in GitHub.</p>