<p>
  <strong>Symptom</strong>
</p>
<p>
  You receive no metrics when running the <code>cf tail</code> command.
</p>

<p>
  <strong>Explanation</strong>
</p>
<p>
  This might be because the Firehose is disabled in the PAS tile.
</p>

<p>
  <strong>Solution</strong>
</p>
<p>
  Ask your operator to ensure that the <strong>V2 Firehose</strong> checkbox is enabled
  and that the <strong>Enable Log Cache syslog ingestion</strong> checkbox is disabled in the PAS tile.
  For more information about configuring these checkboxes, see
  <a href="https://docs.pivotal.io/platform/application-service/operating/logging-config-opsman.html#syslog-forward">Enable Syslog Forwarding</a>.
</p>
