<div class="quick-links">
  <ul>
    <li><a id='overview'>Overview</a> </li>
    <li><a id='workflow'>Workflow</a></li>
    <li><a id='credhub-creds'>Find the CredHub Credentials in <%= vars.ops_manager %></a></li>
    <li><a id='add-ca-cert'>Add the CA Certificate</a></li>
    <li><a id='enable'>Enable TLS in <%= vars.product_short %></a></li>

  </ul>
</div>
