<ul>
	<li>
		<p><strong><%= vars.app_runtime_abbr %> v2.5 and earlier does 
			not support Multi-Site Replication:</strong> If you have 
			installed <%= vars.app_runtime_abbr %> v2.5 or earlier, 
			operators cannot configure multiple foundations to be in 
			the same data center or spread across multiple data centers.
		</p>
		<p>
			Multi-Site Replication is not supported because the Cloud 
			Foundry API (CAPI) v3 is a dependency. CAPI v3 is introduced 
			in <%= vars.app_runtime_abbr %> v2.6 and later. To use 
			Multi-Site Replication, you must upgrade <%= vars.app_runtime_abbr %>.
		</p>
		<p>
			For more information about Multi-Site Replication, see [About Multi-Site Replication](./about-multi-site.html).
		</p>
	</li>
</ul>