<p class="note warning"><strong>Warning:</strong> <%= vars.single_leader_plan %> plans are currently in beta and are for advanced use cases only. If you are interested in testing <%= vars.single_leader_plan %> service plans,
contact <a href="https://pivotal.io/support"> Support</a>. 
</p>
