<ul>
	<li>
		<strong>Smoke tests have timeout error:</strong> If you have many buildpacks in your environment, smoke tests may fail. To mitigate this issue, reduce the number of buildpacks in your foundation.
	</li>
</ul>