The following table identifies the Pivotal GemFire version incorporated
into the Pivotal Cloud Cache version.

<table class="nice">
    <th>Cloud Cache version</th>
    <th>GemFire version</th>
    <tr>
        <td>1.9.1</td>
        <td>9.8.4</td>
    </tr>
    <tr>
        <td>1.9.0<b>*</b></td>
        <td>9.8.3</td>
    </tr>
    <tr>
        <td>1.8.1</td>
        <td>9.8.3</td>
    </tr>
    <tr>
        <td>1.8.0<b>*</b></td>
        <td>9.8.2</td>
    </tr>
    <tr>
        <td>1.7.1</td>
        <td>9.7.2</td>
    </tr>
    <tr>
        <td>1.7.0</td>
        <td>9.7.1</td>
    </tr>
</table>

<b>*</b> This version is not available on Pivnet.

